@font-face {
    font-family: zabra;
    src: url('../fonts/zabars.ttf') format('truetype');
}

body {
    font-family: 'zabra';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/5_background/desert_backround.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
}

.main-screen {
    position: relative;
    display: block;
}

.setting-btns {
    position: absolute;
    background: content-box;
    background-color: gold;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 125ms all ease-in-out;
}

.setting-btns:hover {
    transform: scale(1.1);
}

.sound-off {
    right: 10px;
    bottom: 10px;
}

.sound-off-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.sound-on {
    right: 5px;
}

.full-screen {
    right: 5px;
}

.end-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    height: 480px;
    width: 720px;
    cursor: pointer;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none !important;
}

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .start-screen {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}