@font-face {
    font-family: zabra;
    src: url('../fonts/zabars.ttf') format('truetype');
}

body {
    font-family: 'zabra';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/5_background/desert_backround.png');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.intro-outro-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-outro-screen img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.restart-btn {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    border: 2px #a75f39 solid;
    font-size: 28px;
    padding: 5px;
    font-family: 'zabra'; 
    background-image: linear-gradient(to bottom, #ffa602, #ffdf00);
    color: #9b401d;
    transition: all 125ms ease-in-out;
}

.restart-btn:hover {
    cursor: pointer;
    scale: 1.2;
    background-image: linear-gradient(to top, #ffa602, #ffdf00);
    transition: all 125ms ease-in-out;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
}

.main-screen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 720px;
    margin-bottom: 20px;
}

.game-screen {
    position: relative;
    margin-bottom: 20px;
}

.start-screen{
    cursor: pointer;
}

.setting-btns {
    position: absolute;
    background: content-box;
    background-color: gold;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 125ms all ease-in-out;
}

.setting-btns:hover {
    transform: scale(1.1);
}

.left-btn {
    left: 10px;
    bottom: 10px;
}

.right-btn {
    left: 70px;
    bottom: 10px;
}

.up-btn {
    right: 70px;
    bottom: 10px;
}

.throw-btn {
    right: 10px;
    bottom: 70px;
}

.fullscreen-btn {
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.sound-off {
    right: 10px;
    bottom: 10px;
}

.sound-off-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.sound-on {
    right: 5px;
}

.full-screen {
    right: 5px;
}

.end-screen {
    height: 100%;
    width: 100%;
}

.introduction {
    width: 720px;
    border: 2px solid lightgray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap: 40px;
    box-sizing: border-box;
}

.introduction img {
    height: 48px;
    width: 48px;
    background-color: gold;
    border-radius: 4px;
    cursor: default;
}

.shadow {
    box-shadow: 0px 0px 6px 6px rgba(160, 34, 10, 0.7);
}

.introduction span {
    font-size: 32px;
}

.key-explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.jump-key {
    display: flex;
    gap: 10px;
}

.key {
    background-color: gold;
    height: 48px;
    min-width: 48px;
    border-radius: 4px;
    padding: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.d-none {
    display: none !important;
}

.full-view {
    width: 100vw !important;
    height: 100vh !important;
}

.turn-device {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;z-index: 20;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-align: center;
    font-size: 32px;
}

.turn-device img {
    height: 128px;
    width: 128px;
}

.win-text {
    font-size: 64px;
    fill-opacity: 0.5;
}

@media (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .introduction {
        width: 100%;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}